<section id="port" class="py-5">
    <div class="container py-5 text-center">
        <h1 class="py-3">PORTFOLIO</h1>
        <div class="af-b4 position-relative ">
            <i class="fas fa-star fa-3x"></i>
        </div>
        <div class="row py-5">
            <div class="col-lg-4 col-md-6">
                <div data-toggle="modal" data-target="#exampleModal" class="item position-relative ">
                    <img src="assets/images/asset 1.png" class="img-fluid rounded" alt="">
                    <div class="layer d-flex justify-content-center align-items-center ">
                        <i class="fas fa-plus fa-4x text-white"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="container ">
                                <div class="modal-dialog modal-dialog-centered rounded">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex flex-column align-items-center ">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="fas fa-times fa-2x p-3 "></i></span>
                                            </button>
                                            <div class="head ">
                                                <h1 class="py-3 ">LOG CABIN</h1>
                                                <div class="af-b3 position-relative ">
                                                    <i class="fas fa-star fa-3x "></i>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/asset 1.png" class="w-75 h-75 rounded" alt="">
                                            <p class="text-center py-5">Lorem ipsum dolor sit amet, consectetur
                                                adipisicing
                                                elit.
                                                Mollitia
                                                neque assumenda ipsam
                                                nihil,
                                                molestias magnam, recusandae quos quis inventore quisquam velit
                                                asperiores,
                                                vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                                            </p>
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn  m-auto" data-dismiss="modal"><i
                                                    class="fas fa-times text-white fa-fw "></i>Close Window</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item position-relative " data-toggle="modal" data-target="#modal2">
                    <img src="assets/images/asset 2.png" class="img-fluid rounded" alt="">
                    <div class="layer d-flex justify-content-center align-items-center ">
                        <i class="fas fa-plus fa-4x text-white"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="container ">
                                <div class="modal-dialog modal-dialog-centered rounded">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex flex-column align-items-center ">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="fas fa-times fa-2x p-3 "></i></span>
                                            </button>
                                            <div class="head ">
                                                <h1 class="py-3 ">TASTY CAKE</h1>
                                                <div class="af-b3 position-relative ">
                                                    <i class="fas fa-star fa-3x "></i>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/asset 2.png" class="w-75 h-75 rounded" alt="">
                                            <p class="text-center py-5">Lorem ipsum dolor sit amet, consectetur
                                                adipisicing
                                                elit.
                                                Mollitia
                                                neque assumenda ipsam
                                                nihil,
                                                molestias magnam, recusandae quos quis inventore quisquam velit
                                                asperiores,
                                                vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                                            </p>
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn  m-auto" data-dismiss="modal"><i
                                                    class="fas fa-times text-white fa-fw "></i>Close Window</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item position-relative " data-toggle="modal" data-target="#model3">
                    <img src="assets/images/asset 3.png" class="img-fluid rounded" alt="">
                    <div class="layer d-flex justify-content-center align-items-center ">
                        <i class="fas fa-plus fa-4x text-white"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="modal fade" id="model3" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="container ">
                                <div class="modal-dialog modal-dialog-centered rounded">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex flex-column align-items-center ">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="fas fa-times fa-2x p-3 "></i></span>
                                            </button>
                                            <div class="head ">
                                                <h1 class="py-3 ">CIRCUS TENT</h1>
                                                <div class="af-b3 position-relative ">
                                                    <i class="fas fa-star fa-3x "></i>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/asset 3.png" class="w-75 h-75 rounded" alt="">
                                            <p class="text-center py-5">Lorem ipsum dolor sit amet, consectetur
                                                adipisicing
                                                elit.
                                                Mollitia
                                                neque assumenda ipsam
                                                nihil,
                                                molestias magnam, recusandae quos quis inventore quisquam velit
                                                asperiores,
                                                vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                                            </p>
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn  m-auto" data-dismiss="modal"><i
                                                    class="fas fa-times text-white fa-fw "></i>Close Window</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item position-relative " data-toggle="modal" data-target="#model4">
                    <img src="assets/images/asset 4.png" class="img-fluid rounded" alt="">
                    <div class="layer d-flex justify-content-center align-items-center ">
                        <i class="fas fa-plus fa-4x text-white"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="modal fade" id="model4" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="container ">
                                <div class="modal-dialog modal-dialog-centered rounded">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex flex-column align-items-center ">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="fas fa-times fa-2x p-3 "></i></span>
                                            </button>
                                            <div class="head ">
                                                <h1 class="py-3 ">CONTROLLER</h1>
                                                <div class="af-b3 position-relative ">
                                                    <i class="fas fa-star fa-3x "></i>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/asset 4.png" class="w-75 h-75 rounded" alt="">
                                            <p class="text-center py-5">Lorem ipsum dolor sit amet, consectetur
                                                adipisicing
                                                elit.
                                                Mollitia
                                                neque assumenda ipsam
                                                nihil,
                                                molestias magnam, recusandae quos quis inventore quisquam velit
                                                asperiores,
                                                vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                                            </p>
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn  m-auto" data-dismiss="modal"><i
                                                    class="fas fa-times text-white fa-fw "></i>Close Window</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item position-relative " data-toggle="modal" data-target="#model5">
                    <img src="assets/images/asset 5.png" class="img-fluid rounded" alt="">
                    <div class="layer d-flex justify-content-center align-items-center ">
                        <i class="fas fa-plus fa-4x text-white"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="modal fade" id="model5" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="container ">
                                <div class="modal-dialog modal-dialog-centered rounded">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex flex-column align-items-center ">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="fas fa-times fa-2x p-3 "></i></span>
                                            </button>
                                            <div class="head ">
                                                <h1 class="py-3 ">LOCKED SAFE</h1>
                                                <div class="af-b3 position-relative ">
                                                    <i class="fas fa-star fa-3x "></i>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/asset 5.png" class="w-75 h-75 rounded" alt="">
                                            <p class="text-center py-5">Lorem ipsum dolor sit amet, consectetur
                                                adipisicing
                                                elit.
                                                Mollitia
                                                neque assumenda ipsam
                                                nihil,
                                                molestias magnam, recusandae quos quis inventore quisquam velit
                                                asperiores,
                                                vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                                            </p>
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn  m-auto" data-dismiss="modal"><i
                                                    class="fas fa-times text-white fa-fw "></i>Close Window</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item position-relative" data-toggle="modal" data-target="#model6">
                    <img src="assets/images/asset 6.png" class="img-fluid rounded" alt="">
                    <div class="layer d-flex justify-content-center align-items-center ">
                        <i class="fas fa-plus fa-4x text-white"></i>
                    </div>
                    <div class="col-md-8">
                        <div class="modal fade" id="model6" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="container ">
                                <div class="modal-dialog modal-dialog-centered rounded">
                                    <div class="modal-content">
                                        <div class="modal-header d-flex flex-column align-items-center ">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="fas fa-times fa-2x p-3 "></i></span>
                                            </button>
                                            <div class="head ">
                                                <h1 class="py-3 ">SUBMARINE</h1>
                                                <div class="af-b3 position-relative ">
                                                    <i class="fas fa-star fa-3x "></i>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-body">
                                            <img src="assets/images/asset 6.png" class="w-75 h-75 rounded" alt="">
                                            <p class="text-center py-5">Lorem ipsum dolor sit amet, consectetur
                                                adipisicing
                                                elit.
                                                Mollitia
                                                neque assumenda ipsam
                                                nihil,
                                                molestias magnam, recusandae quos quis inventore quisquam velit
                                                asperiores,
                                                vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                                            </p>
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn  m-auto" data-dismiss="modal"><i
                                                    class="fas fa-times text-white fa-fw "></i>Close Window</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>