<section id="contact" class="py-5">
    <div class="container py-5">
        <div class="header text-center">
            <h1 class="py-3">CONTACT US</h1>
            <div class="af-b4 position-relative ">
                <i class="fas fa-star fa-3x"></i>
            </div>
        </div>

        <div class="form-group ">
            <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Phone Number">
        </div>
        <div class="form-group">
            <textarea class="form-control" cols="40" rows="10" placeholder="Message"></textarea>
        </div>
        <button class="btn btn1">Send</button>


    </div>
</section>